extends layout

block content
  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(src='/javascripts/devicesaccess.js')
  h1= title
  p Welcome to #{title}
  p Devices :
  ul
  each val in devices
    li= val.name
        ul
            li IP: #{val.lastIpAddress}
            li last contact: #{val.lastHeard}
            li connected: #{val.connected}
            #LED 
        button(onClick=('toggleLED("' + val.id + '")')) ToggleLED
       
      